# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

# Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.user
*.suo
*.userprefs

# Rider
*.sln.iml

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
